<h1>Add a New Director</h1>

<form action="/create_director">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="dob">Date of Birth:</label>
    <input id="dob" type="text" name="dob">
  </div>
  <div>
    <label for="bio">Bio Info:</label>
    <input id="bio" type="text" name="bio">
  </div>
  <div>
    <label for="image_url"> Image URL:</label>
    <input id="image_url" type="text" name="image_url">
  </div>
  <div>
    <button>Create Director</button>
  </div>


</form>
